version: 2
jobs:
  build:
    docker:
      - image: buildkite/puppeteer:latest

    working_directory: ~/tests

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Runs ESLint on the JavaScript code
          command: npm run lint

      - store_test_results:
          path: test-results

      - run:
          name: Runs browser based tests
          command: cd ~/tests && npm run test:ci

      - store_artifacts:
          path: test-results

      - store_test_results:
          path: test-results

workflows:
  version: 2
  commit-workflow:
    jobs:
      - build
  scheduled-workflow:
    triggers:
      - schedule:
          # Step syntax is unsupported on CircleCI
          cron: "0,30 * * * *"
          filters:
            branches:
              only: master

    jobs:
      - build
